@model MachineManagementSystemVer2.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "系統登入";
    Layout = "~/Views/Shared/_LoginLayout.cshtml"; // 使用一個更簡潔的、沒有導覽列的版面
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Account" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Account"></label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Password"></label>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">登入</button>
                </div>
            </form>
        </section>
    </div>
</div>
